<div class="speaker">
    <input type="checkbox" class="read-more-state" id="{Name}" />
    <img src="assets/{Profile}" alt="{Name}" />
    <img src="{Logo}" />
    <label for="{Name}" class="read-more-trigger">
        <span class="showmore">◄</span>
        <span class="showless">▼</span>
    </label>
    <h2>{Name}</h2>
    <p>
        <strong>{Position}</strong> at
        <strong>{Affiliation}</strong>
    </p>
    <p class="read-more-target">{Bio}</p>
    <h3>{Topic}</h3>
    <p class="read-more-target">{Abstract}</p>
    
</div>