html
{
	background-size: cover !important;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-khtml-background-size: cover;
	-ms-background-size: cover;
	background: #7F7F7F url("../images/title.jpg") no-repeat left top fixed;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 3008px;
	padding-bottom: 47px;
	margin-left: auto;
	margin-right: auto;
}

#pmenuu3157
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	margin-top: 260px;
	left: -40px;
}

#pmenuu3157_position_content
{
	margin-top: -260px;
	margin-bottom: 500px;
}

#menuu3157
{
	z-index: 34;
	width: 115px;
	top: 296px;
	left: 50%;
	margin-left: -520px;
}

#u3159
{
	width: 115px;
	min-height: 17px;
	padding-bottom: 95px;
	margin-right: -115px;
}

#u3159:hover
{
	margin: 0px -115px 0px 0px;
}

#u3159:active
{
	margin: 0px -115px 0px 0px;
}

#u3162-4
{
	width: 115px;
	min-height: 17px;
	margin-right: -115px;
	top: 47px;
}

#u3159:hover #u3162-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -115px 0px 0px;
}

#u3159:active #u3162-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -115px 0px 0px;
}

#menuu3182
{
	z-index: 41;
	width: 115px;
	top: 296px;
	left: 50%;
	margin-left: -266px;
}

#u3184
{
	width: 115px;
	min-height: 17px;
	padding-bottom: 95px;
	margin-right: -115px;
}

#u3159.MuseMenuActive,#u3184:hover
{
	margin: 0px -115px 0px 0px;
}

#u3184:active
{
	margin: 0px -115px 0px 0px;
}

#u3185-4
{
	width: 115px;
	min-height: 17px;
	margin-right: -115px;
	top: 47px;
}

#u3159.MuseMenuActive #u3162-4,#u3184:hover #u3185-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -115px 0px 0px;
}

#u3184:active #u3185-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -115px 0px 0px;
}

#menuu3057
{
	z-index: 6;
	width: 115px;
	top: 296px;
	left: 50%;
	margin-left: -393px;
}

#u3076
{
	width: 115px;
	min-height: 17px;
	padding-bottom: 95px;
	margin-right: -115px;
}

#u3184.MuseMenuActive,#u3076:hover
{
	margin: 0px -115px 0px 0px;
}

#u3076:active
{
	margin: 0px -115px 0px 0px;
}

#u3077-4
{
	width: 115px;
	min-height: 17px;
	margin-right: -115px;
	top: 47px;
}

#u3184.MuseMenuActive #u3185-4,#u3076:hover #u3077-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -115px 0px 0px;
}

#u3076:active #u3077-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -115px 0px 0px;
}

#u3056-3
{
	z-index: 3;
	width: 5px;
	top: 396px;
	left: 50%;
	margin-left: -371px;
}

#menuu3082
{
	z-index: 13;
	width: 115px;
	top: 423px;
	left: 50%;
	margin-left: -520px;
}

#u3084
{
	width: 115px;
	min-height: 17px;
	padding-bottom: 95px;
	margin-right: -115px;
}

#u3076.MuseMenuActive,#u3084:hover
{
	margin: 0px -115px 0px 0px;
}

#u3084:active
{
	margin: 0px -115px 0px 0px;
}

#u3086-4
{
	width: 115px;
	min-height: 17px;
	margin-right: -115px;
	top: 47px;
}

#u3076.MuseMenuActive #u3077-4,#u3084:hover #u3086-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -115px 0px 0px;
}

#u3084:active #u3086-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -115px 0px 0px;
}

#menuu3107
{
	z-index: 20;
	width: 115px;
	top: 423px;
	left: 50%;
	margin-left: -393px;
}

#u3126
{
	width: 115px;
	min-height: 17px;
	padding-bottom: 95px;
	margin-right: -115px;
}

#u3084.MuseMenuActive,#u3126:hover
{
	margin: 0px -115px 0px 0px;
}

#u3126:active
{
	margin: 0px -115px 0px 0px;
}

#u3129-4
{
	width: 115px;
	min-height: 17px;
	margin-right: -115px;
	top: 47px;
}

#u3084.MuseMenuActive #u3086-4,#u3126:hover #u3129-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -115px 0px 0px;
}

#u3126:active #u3129-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -115px 0px 0px;
}

#menuu3132
{
	z-index: 27;
	width: 115px;
	top: 423px;
	left: 50%;
	margin-left: -266px;
}

#u3158,#u3183,#u3075,#u3083,#u3125,#u3133
{
	width: 115px;
}

#u3134
{
	width: 115px;
	min-height: 17px;
	padding-bottom: 95px;
	margin-right: -115px;
}

#u3126.MuseMenuActive,#u3134:hover
{
	margin: 0px -115px 0px 0px;
}

#u3134:active
{
	margin: 0px -115px 0px 0px;
}

#u3134.MuseMenuActive
{
	margin: 0px -115px 0px 0px;
}

#u3136-4
{
	width: 115px;
	min-height: 17px;
	margin-right: -115px;
	top: 47px;
}

#u3126.MuseMenuActive #u3129-4,#u3134:hover #u3136-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -115px 0px 0px;
}

#u3134:active #u3136-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -115px 0px 0px;
}

#u3134.MuseMenuActive #u3136-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -115px 0px 0px;
}

#pu4269
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	margin-top: 85px;
	left: 455px;
}

#u4269
{
	z-index: 49;
	width: 302px;
	margin-left: 68px;
	position: relative;
}

#u4284-4
{
	z-index: 55;
	width: 257px;
	min-height: 18px;
	font-size: 12px;
	color: #7F7F7F;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 93px;
	margin-top: 11px;
	position: relative;
}

#u4274
{
	z-index: 51;
	width: 312px;
	margin-left: 67px;
	margin-top: 28px;
	position: relative;
}

#pu4287-4
{
	width: 0.01px;
	margin-left: 14px;
	position: relative;
}

#u4287-4
{
	z-index: 59;
	width: 202px;
	min-height: 17px;
	font-size: 12px;
	color: #7F7F7F;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -202px;
	left: 119px;
}

#u5657
{
	z-index: 90;
	width: 415px;
	position: relative;
	margin-right: -415px;
	margin-top: 5px;
}

#u5663-4
{
	z-index: 92;
	width: 221px;
	min-height: 21px;
	font-size: 12px;
	color: #7F7F7F;
	position: relative;
	margin-right: -221px;
	margin-top: 375px;
	left: 111px;
}

#u4279
{
	z-index: 53;
	width: 447px;
	margin-top: 18px;
	position: relative;
}

#u4288-4
{
	z-index: 63;
	width: 243px;
	min-height: 19px;
	font-size: 12px;
	color: #7F7F7F;
	margin-left: 113px;
	margin-top: 4px;
	position: relative;
}

#u4295
{
	z-index: 67;
	width: 300px;
	margin-left: 70px;
	margin-top: 23px;
	position: relative;
}

#u4300-7
{
	z-index: 69;
	width: 283px;
	min-height: 34px;
	margin-left: 87px;
	margin-top: 8px;
	position: relative;
}

#u4300-2,#u4300-4
{
	font-size: 12px;
	color: #7F7F7F;
}

#u4301
{
	z-index: 76;
	width: 339px;
	margin-left: 58px;
	margin-top: 54px;
	position: relative;
}

#u4307
{
	z-index: 78;
	width: 345px;
	margin-left: 58px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#pu4312
{
	width: 0.01px;
	margin-left: 126px;
	margin-top: 10px;
	position: relative;
}

#u4312
{
	z-index: 80;
	width: 254px;
	position: relative;
	margin-right: -254px;
}

#u4269_img,#u4274_img,#u5657_img,#u4279_img,#u4295_img,#u4301_img,#u4307_img,#u4312_img
{
	vertical-align: top;
}

#u4318-4
{
	z-index: 82;
	width: 103px;
	min-height: 20px;
	font-size: 12px;
	color: #7F7F7F;
	position: relative;
	margin-right: -103px;
	margin-top: 208px;
	left: 75px;
}

#u5652-4
{
	z-index: 86;
	width: 191px;
	min-height: 18px;
	font-size: 10px;
	color: #7F7F7F;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 492px;
	margin-top: 101px;
	position: relative;
}

body
{
	padding-top: 36px;
}

